.idea/
.vscode/
# /backend/customer_scraper/nanu_nana_o.json
# /backend/customer_scraper/nanu_nana_o1.json
# /backend/customer_scraper/nanu_nana_o2.json
# /backend/customer_scraper/the_range_o2.json
# /backend/customer_scraper/the_range_o1.json
# /backend/customer_scraper/ganz.csv
# /backend/customer_scraper/ganz1.csv
# /backend/customer_scraper/ganz2.csv
# /backend/customer_scraper/ganz3.csv
# /backend/customer_scraper/ganz4.csv
# /backend/customer_scraper/ganz5.csv
# /backend/customer_scraper/ganz6-new.csv
# /backend/customer_scraper/ganz22.csv
# /backend/customer_scraper/ganz21.csv
# /backend/customer_scraper/ganz20.csv
# /backend/customer_scraper/ganz19.csv
# /backend/customer_scraper/ganz18.csv
# /backend/customer_scraper/ganz17.csv
# /backend/customer_scraper/ganz16.csv
# /backend/customer_scraper/ganz15-new.csv
# /backend/customer_scraper/ganz14-new.csv
# /backend/customer_scraper/ganz10-new.csv
# /backend/customer_scraper/ganz8-new.csv
# /backend/customer_scraper/ganz7-new.csv
# /backend/customer_scraper/ganz9-new.csv
# /backend/customer_scraper/logs/nanu_nana/2023-06-29T200318.337926.log
# /backend/customer_scraper/logs/nanu_nana/2023-06-29T172020.791583.log
# /backend/customer_scraper/logs/nanu_nana/2023-06-29T171711.856617.log
# /backend/customer_scraper/logs/nanu_nana/2023-06-29T171446.409965.log
# /backend/customer_scraper/logs/nanu_nana/2023-06-29T161954.075066.log
# /backend/customer_scraper/logs/
